body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li.topnavleft {float: left;}
ul.topnav li.topnavright {float: right;}

ul.topnav li.topnavleft a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li.topnavright a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li.topnavleft a:hover:not(.active) {background-color: #111;}
ul.topnav li.topnavright a:hover:not(.active) {background-color: #111;}

ul.topnav li.topnavleft a.active {background-color: #04AA6D;}
ul.topnav li.topnavright a.active {background-color: #04AA6D;}

@media screen and (max-width: 600px) {
  ul.topnav li.topnavright, 
  ul.topnav li.topnavright {float: none;}
  ul.topnav li.topnavleft {float: none;}
}